<?xml version="1.0"?>

<robot name="robot">
    <!-- Define materials for visualization -->
    <material name="blue">
        <color rgba="0 0 1 1"/>
    </material>

    <material name="gray">
        <color rgba="0.40 0.40 0.40 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <!-- Specify Gazebo color for the base_link -->
    <gazebo reference="base_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- Gazebo friction and material properties for left_wheel -->
    <gazebo reference="left_wheel">
        <material>Gazebo/Blue</material>
        <mu1>5.0</mu1>
        <mu2>0.5</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <!-- Gazebo friction and material properties for right_wheel -->
    <gazebo reference="right_wheel">
        <material>Gazebo/Blue</material>
        <mu1>5.0</mu1>
        <mu2>0.5</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <!-- Gazebo friction and material properties for front_caster -->
    <gazebo reference="front_caster">
        <material>Gazebo/Gray</material>
        <mu>0.01</mu>
        <mu2>0.01</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <fdir1 value="0 0 1"/>
    </gazebo>

    <!-- Gazebo friction and material properties for back_caster -->
    <gazebo reference="back_caster">
        <material>Gazebo/Gray</material>
        <mu>0.01</mu>
        <mu2>0.01</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <fdir1 value="0 0 1"/>
    </gazebo>

    <gazebo reference="base_link_front_laser_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference="front_laser">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Base footprint link -->
    <link name="base_footprint">
    </link>

    <!-- Joint - base_footprint / base_link -->
    <joint name="base_link_plate_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.15" />
        <child link="base_link" />
        <parent link="base_footprint" />
    </joint>

    <!-- Base link -->
    <link name="base_link">
        <inertial>
            <mass value="18" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.41625" ixy="0" ixz="0" iyy="0.41625" iyz="0" izz="0.5625" />
        </inertial>

        <collision>
            <geometry>
                <cylinder length="0.3" radius="0.25" />
            </geometry>
        </collision>

        <visual>
            <geometry>
                <cylinder length="0.3" radius="0.25" />
            </geometry>
            <material name="blue"/>
        </visual>
    </link>

    <!-- Joint - base / left wheel -->
    <joint name="base_link_left_wheel_joint" type="continuous">
        <origin rpy="0 0 0" xyz="0.0 0.2 -0.15" />
        <child link="left_wheel" />
        <parent link="base_link" />
        <axis rpy="0 0 0" xyz="0 1 0" />
        <limit effort="10000" velocity="1000" />
        <joint_properties damping="1.0" friction="1.0" />
    </joint>

    <!-- Link - left_wheel -->
    <link name="left_wheel">
        <inertial>
            <mass value="2" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000729" ixy="0" ixz="0" iyy="0.000729" iyz="0" izz="0.000625"/>
        </inertial>

        <collision>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025"/>
            </geometry>
        </collision>

        <visual>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <!-- Joint - base / right wheel -->
    <joint name="base_link_right_wheel_joint" type="continuous">
        <origin rpy="0 0 0" xyz="0.0 -0.2 -0.15" />
        <child link="right_wheel" />
        <parent link="base_link" />
        <axis rpy="0 0 0" xyz="0 1 0" />
        <limit effort="10000" velocity="1000" />
        <joint_properties damping="1.0" friction="1.0" />
    </joint>

    <!-- Link - right_wheel -->
    <link name="right_wheel">
        <inertial>
            <mass value="2" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000729" ixy="0" ixz="0" iyy="0.000729" iyz="0" izz="0.000625"/>
        </inertial>

        <collision>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025"/>
            </geometry>
        </collision>

        <visual>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <!-- Joint - base / front caster -->
    <joint name="base_link_front_caster_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.1 0.0 -0.15" />
        <child link="front_caster" />
        <parent link="base_link" />
        <joint_properties damping="1.0" friction="0.0" />
    </joint>

    <!-- Link - front_caster -->
    <link name="front_caster">
        <inertial>
            <mass value="0.5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000125" ixy="0" ixz="0" iyy="0.000125" iyz="0" izz="0.000125"/>
        </inertial>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
        </collision>

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
            <material name="gray">
                <color rgba="0.40 0.40 0.40 1" />
            </material>
        </visual>
    </link>

    <!-- Joint - base / back caster -->
    <joint name="base_link_back_caster_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.1 0.0 -0.15" />
        <child link="back_caster" />
        <parent link="base_link" />
        <joint_properties damping="1.0" friction="0.0" />
    </joint>

    <!-- Link - back_caster -->
    <link name="back_caster">
        <inertial>
            <mass value="0.5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000125" ixy="0" ixz="0" iyy="0.000125" iyz="0" izz="0.000125"/>
        </inertial>

        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
        </collision>

        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
            <material name="gray">
                <color rgba="0.40 0.40 0.40 1" />
            </material>
        </visual>
    </link>

    <!-- Joint - base / front laser -->
    <joint name="base_link_front_laser_joint" type="fixed">
        <origin rpy="3.14159 0 0" xyz="0.25 0.0 0.075" />
        <child link="front_laser" />
        <parent link="base_link" />
        <joint_properties damping="1.0" friction="1.0" />
    </joint>

    <!-- Link - front_laser -->
    <link name="front_laser">
        <inertial>
            <mass value="2" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.00185" ixy="0" ixz="0" iyy="0.00185" iyz="0" izz="0.0025"/>
        </inertial>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.06"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.05" length="0.06"/>
            </geometry>
            <material name="blue"/>
        </visual>
    </link>

    <!-- Differential Drive Plugin -->
    <gazebo>
        <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
            <alwaysOn>true</alwaysOn>
            <updateRate>20</updateRate>
            <leftJoint>base_link_left_wheel_joint</leftJoint>
            <rightJoint>base_link_right_wheel_joint</rightJoint>
            <publishWheelTF>true</publishWheelTF>
            <wheelSeparation>0.4</wheelSeparation>
            <wheelDiameter>0.05</wheelDiameter>
            <torque>10</torque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_link</robotBaseFrame>
        </plugin>
    </gazebo>

    <!-- Gazebo configuration for the front laser sensor -->
    <gazebo reference="front_laser">
        <!-- Define a ray sensor named "head_hokuyo_sensor" -->
        <sensor type="ray" name="head_hokuyo_sensor">
            <pose>0 0 0 0 0 0</pose>
            <!-- Enable visualization of the sensor -->
            <visualize>true</visualize>
            <update_rate>20</update_rate>
            <ray>
                <!-- Configure the scanning properties -->
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.570796</min_angle>
                        <max_angle>1.570796</max_angle>
                    </horizontal>
                </scan>
                <!-- Configure the range properties -->
                <range>
                    <min>0.05</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <!-- Configure the noise properties -->
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <!-- Attach a Gazebo plugin to the sensor for ROS integration -->
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
                <topicName>/scan</topicName>
                <frameName>front_laser</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>